.galeri-row {
  display: flex !important;
  flex-wrap: wrap !important;
}

.galeri-col {
  flex: 25% !important;
  max-width: 25% !important;
}

.galeri-img {
  margin-top: 8px;
  vertical-align: middle !important;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .galeri-col {
    flex: 50% !important;
    max-width: 50% !important;
  }
}

@media screen and (max-width: 600px) {
  .galeri-col {
    flex: 100% !important;
    max-width: 100% !important;
  }
}
