@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.footer-map {
  width: 400px;
  height: 200px;
}

.floating-btn {
  bottom: 50px !important;
  right: 50px !important;
}

.title-banner {
  height: 15rem;
  background-image: url("/assets/bg-3.jpg");
  object-fit: cover;
}

.title-text {
  font-family: "Raleway", sans-serif;
  letter-spacing: 2.5px;
  font-size: 30px;
  font-weight: bold;
}

.title-subtitle {
  font-family: "Raleway", sans-serif;
  letter-spacing: 2.5px;
  font-size: 15px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media screen and (max-width: 768px) {
  .footer-map {
    width: 250px;
    height: auto;
    /* visibility: hidden; */
  }
}
