@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.footer-map {
  width: 400px;
  height: 200px;
}

.footer-content {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  /* font-weight: bold; */
}

.footer-title {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
}

.floating-btn {
  bottom: 30px !important;
  right: 40px !important;
  font-family: "Raleway", sans-serif !important;
  letter-spacing: 1px;
  font-size: 15px !important;
  background-color: rgb(49, 221, 92) !important;
  border-color: rgb(49, 221, 92) !important;
}

.floating-btn:hover {
  background-color: rgb(49, 194, 86) !important;
  border-color: rgb(49, 194, 86) !important;
}

.title-banner {
  height: 15rem;
  background-image: url("/assets/bg-3.jpg");
  object-fit: cover;
}

.title-text {
  font-family: "Raleway", sans-serif;
  letter-spacing: 2.5px;
  font-size: 30px;
  font-weight: bold;
}

.title-subtitle {
  font-family: "Raleway", sans-serif;
  letter-spacing: 2.5px;
  font-size: 15px;
}

.overlay-container {
  position: relative;
}

.overlay {
  position: absolute;
  height: 200px;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  padding: 20px 0 20px 0 !important;
  margin: 0 !important;
  text-align: center;
}

.overlay-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media screen and (max-width: 768px) {
  .footer-map {
    width: 250px;
    height: auto;
    /* visibility: hidden; */
  }

  .floating-btn {
    bottom: 20px !important;
    right: 20px !important;
  }
}

@media screen and (max-width: 425px) {
  .floating-btn {
    bottom: 10px !important;
    right: 10px !important;
    font-size: 14px !important;
  }

  .title-banner {
    height: 10rem;
  }

  .title-text {
    font-size: 25px;
  }

  .title-subtitle {
    font-size: 10px;
  }
}
