.home-logo {
  position: absolute !important;
  z-index: 1 !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  /* border-radius: 50%;  */
}

.home-logo-text {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: bolder;
  background-color: whitesmoke;
  opacity: 0.9;
  /* background-blend-mode: darken; */
}

.home-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.home-card-title {
  text-decoration: none;
  color: white;
}

.home-card-title:hover {
  color: white;
}

.home-why {
  background-color: #f6f0ff;
  /* height: 30rem; */
}

.home-why-logo {
  font-size: 50px;
}

.home-why-card {
  background-color: #f6f0ff !important;
}

.home-why-title {
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  word-break: keep-all !important;
}

.home-why-text {
  visibility: visible;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: rgb(122, 120, 120);
}

.home-why-icon {
  width: 50px;
  height: auto;
}

.home-cinematic {
  /* height: 30rem; */
  /* background-color: #aeb5bf; */
}

.home-testimony {
  background-color: #e9dffa;
}

.home-testimony-card {
  height: 15rem !important;
}

.home-testimony-img {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover !important;
}

.home-testimony-user {
  position: absolute;
  bottom: 20px;
}

.home-testimony-text {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: rgb(122, 120, 120);
}

.home-testimony-name {
  font-size: 13px;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  /* font-weight: bold; */
}

.home-service-title {
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  letter-spacing: 2.5px;
  font-size: 15px;
}

.home-service-img {
  height: 200px;
  object-fit: cover;
}

.overlay-service {
  bottom: 58px;
  position: absolute;
  height: 200px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  padding: 20px 0 20px 0 !important;
  margin: 0 !important;
  text-align: center;
}

.overlay-container:hover .overlay-service {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .home-why-text {
    visibility: hidden !important;
  }
  .home-why-card {
    height: 100px !important;
  }
  .home-why-logo {
    font-size: 30px;
  }
  .home-why-title {
    font-size: smaller;
  }
  .home-why-col {
    margin: 0px !important;
    padding: 0px !important;
  }
}

@media screen and (max-width: 1024px) {
  .home-testimony-col {
    width: 300px !important;
  }
}

@media screen and (max-width: 425px) {
  /* .home-logo-text {
    font-size: 15px;
  }

  .home-logo {
    position: absolute !important;
    z-index: 1 !important;
    top: 22% !important;
    left: 50% !important;
  }

  .home-img {
    height: 10rem;
  } */

  .home-service-title {
    font-size: 12px;
  }

  .home-service-col {
    height: 150px;
    width: 300px !important;
  }

  .overlay-service {
    height: 120px;
    bottom: 54px;
  }

  .home-service-img {
    height: 120px;
    object-fit: cover;
  }

  .home-testimony-col {
    width: 300px !important;
  }

  .home-testimony-card {
    height: 12rem !important;
  }

  .home-why-icon {
    width: 65%;
    height: auto;
  }

  .home-why-title {
    font-size: 10px;
    font-weight: bold;
    word-break: keep-all;
  }
}

@media screen and (max-width: 320px) {
  .home-why-title {
    font-size: 8px;
    font-weight: bold;
    word-break: keep-all;
  }
}

.home-faq {
  font-family: "Raleway", sans-serif;

  /* color: rgb(122, 120, 120); */
}
