.navbar-style {
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

.navbar-text {
  color: white;
}

.navbar-item {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: rgb(122, 120, 120);
}

.navbar-item:active {
  background-color: rgb(102, 101, 101) !important;
}
