.navbar-style {
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

.navbar-text {
  color: white;
}

.navbar-item {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: rgb(122, 120, 120);
}

.nav-item .dropdown-menu {
  background: #000000;
}

.nav-item .dropdown-item {
  color: #ffffff;
}

.nav-item .dropdown-item:active {
  background: rgb(102, 101, 101);
  color: #ffffff;
}
